* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8rem;
  background:
    linear-gradient(40deg, transparent 40%, #9ab593),
    linear-gradient(-40deg, #ba7461 20%, #593e4e 90%);
  min-height: 100vh;
  color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  outline: 0;
  color: #ffffff;
}

button::-moz-focus-inner {
  border: 0;
}

ul {
  list-style: none;
}

/* Helpers */

.flex {
  display: flex;
}

.margin-bottom--small {
  margin-bottom: 15px;
}

/* App Component */

.app {
  justify-content: center;
  padding: 50px;
}

/* TodoList Component */

.todolist {
  width: 400px;
  min-width: 320px;
  background-color: rgba(0, 0, 0, .6);
  padding: 20px;


  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

/* InputBar Component */

.input-bar {
  align-items: center;

  .fa-angle-down {
    font-size: 2rem;
  }
}

/* InputForm Component */

.input-form {
  width: 100%;
  margin-left: 10px;  

  input {
    width: 100%;
    padding: 7px;
    border: none;
    color: #593e4e;
    background-color: #fff;
  }
}

/* Task Component */

.task-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px 5px 2px;

  .task {
    align-items: center;
  }

  .checkbox-container {
    height: 100%;
  }

  .taskname {
    height: 100%;
    margin-left: 15px;
  }

  .controls {
    height: 100%;

    .faIcon {
      margin-left: 10px;
    }
  }
}

/* FilterBar Component */

.filter-bar {
  margin-top: 15px;
  justify-content: space-around;
}

/* FilterButton Component */

.filter-button {
  width: 80px;
  height: 25px;
  border: 1px solid #696969;
  background: transparent;
  color: #ffffff;
  margin: 3px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
  border: none;
  cursor: pointer;
}